@charset "utf-8";

html{height: 100%;}

header{width:1200px; height: 150px; margin:0 auto; position: relative;}
#logo{ width:235px; height:98px; margin:0 auto; font-size:50px; font-weight: bold; font-family:couture; position: relative;}
 #logo a:link{color: #000;}
 #logo a:visited{color:#000;}
 #logo a:hover{color:#000; cursor: pointer;}
 #logo a:active{color:#000;}
nav{ width:730px; height: 60px; margin:0 auto;}
nav ul{font-family: couture;}
nav ul li {float:left; padding:0 45px; font-size:20px;}
nav ul li a:link{color: #000;}
nav ul li a:visited{color:#000;}
nav ul li a:hover{color:#aaa; cursor: pointer;}
nav ul li a:active{color:#000;}

.common_detail{width: 100%; height: 500px; color: #aaa; font-size: 14px;}
.common_detail a:link,a:visited{color:#aaa;}
.common_detail a:hover{color:#000;}
.common_detail span{font-weight: bold; color:#000;}
.ask{width: 350px; height: 180px; position: relative; top: 100px; left: 450px;}
.b_seach{width: 300px; height: 120px; position: relative; left: 1020px; bottom: 80px;}
.b_seach button{width: 30px; height: 30px; position: relative; float: right; right: 50px;}
.b_seach img{width: 30px; height: 30px;}
input ::placeholder{color:#eee;}
input{color:#000; border:none;}
input:focus {outline:none;}
.add{width:800px; height: 150px; position: relative; left: 450px;}


footer{width:100%; height: 500px; margin: 0 auto; background-color: #000; position: relative;}
footer ul li a{color: #fff; cursor: pointer;}
footer ul li a:visited{color:#fff;}
footer ul li a:hover{color:#aaa;}
footer ul li a:active{color:#fff;}

.bot_me_ch{width: 600px; height: 300px; font-size: 15px; font-weight: bold; color:#fff; margin:0 auto; text-align: left; display:block; position: relative; top:30px; left: -500px;}
.bot_me_ch p{text-align: center; font-size:18px;}
.det{padding:0 0 0 110px;}
.det:first-of-type{margin:30px 0 0 0;}
.det li{margin:10px 0 0 10px;}
.del{margin:-150px 0 0 420px; padding: 0 0 200px 0;}
.del li{margin: 10px 0 0 10px;}
.onl_g{font-size: 15px; font-weight: bold; color:#fff;  width:400px; height: 250px;  text-align: left; display: block; margin: 0 auto; position: relative ; top:-265px; left: 550px;}
.onl_g p{font-size: 18px;}
.on_li:first-of-type{margin:30px 0 0 0;}
.on_li li{margin: 10px 0 0 10px;}
.bot_logo{width: 208px; height: 170px; margin: 0 auto; position:relative; top: -240px;} 
.bot_logo img {width:100%; height:100%; margin: 0 auto; ; display: block;}
.imc{width: 150px; height: 35px; float:right;  margin: 0 auto; position: relative; top:-270px; right: 5px;}
.imc img{width: 30px; height: 30px; cursor: pointer;}
.imc img[alt="facebook"]{margin: 0 0 0 5px;}