@charset "UTF-8";


.buy{width: 900px; height: 500px; text-align: left;  font-size: 12px; margin: 0 auto; background: #f2f2f2;}
.buy img{float: left; width:500px; height: 100%; border: 1px solid #eee;}
.buy h1{font-weight: 500; font-size: 20px;}
.text{width: 400px; height: 400px; float: right; padding: 80px 50px 0;}
.buy hr{width: 300px;}
div p:nth-of-type(2){font-size: 13px;}
button{width: 130px; height: 50px; float: left; margin: 0 10px 0 10px; border:none; background: #000; color:#fff; cursor:pointer;}
button:hover{background: #fff;  color:#000;}
.buy_no5, .buy_made, .buy_ed2, .buy_chan, .buy_lion, .buy_bled, .buy_in, .no5_detail, .mademosielle_detail, .edimbourg_detail, .chance_detail, .lelion_detail, .bled_detail, .in_detail{display: none;}
select{float: right; margin: 0 0 10px;}
.butt{width: 300px; height: 100px; position: relative;}

hr{width:1200px; margin: 0 auto; border-radius: 15px;}

.pro{width: 1200px; height: 200px; text-align: center; font-weight: bold; font-size: 10px; margin:0 auto; position: relative; left:20px;} 
.pro img{width: 100%; height: 150px; cursor:pointer; position: relative;}
.pro div{width: 125px; height: 170px; float: left; margin: 0 10px;}
.ga img{margin:0 0 0 2px;}
.no_5a img{margin: 0 0 0 1px;}
.mademo img{margin: 0 0 0 3px;}
.edi img{margin: 0 0 0 3px;}
.chance img{width:150px; margin: 0 0 0 -10px;}
.chance{margin:0 0 0 20px;}
.g_50{display: none;}


.detail {width: 100%; height:1900px ; margin:0 auto; text-align: center;}
.detail p {font-size: 12px; margin: 0 auto; } 
.detail img{width: 500px; height: 100%; float: left;}

.ga_detail>div{width:1000px; height: 500px; margin: 0 auto;}
.ga_detail_1{position: relative; top: 100px; left: 50px;}
.ga_detail_2{position: relative; top: 200px; right: 50px;}
.ga_detail_2 img{float: right;}
.ga_detail_3{position: relative; top: 300px; left:25px;}

.no5_detail>div{width:1000px; height: 500px; margin: 0 auto;}
.no5_detail_1{position: relative; top: 100px; left:50px;}
.no5_detail_2{position: relative; top: 200px; right: 50px;}
.no5_detail_2 img{float: right;}
.no5_detail_3{position: relative; top: 300px; left:25px;}

.mademosielle_detail>div{width:1000px; height: 500px; margin: 0 auto;}
.mademosielle_detail_1{position: relative; top: 100px;  left:50px;}
.mademosielle_detail_2{position: relative; top: 200px; right: 50px;}
.mademosielle_detail_2 img{float: right;}
.mademosielle_detail_3{position: relative; top: 300px; left: 25px;}

.edimbourg_detail>div{width:1000px; height: 500px; margin: 0 auto;}
.edimbourg_detail_1{position: relative; top: 100px; left: 50px;}
.edimbourg_detail_2{position: relative; top: 200px; right: 50px;}
.edimbourg_detail_2 img{float: right;}
.edimbourg_detail_3{position: relative; top: 300px;  left: 25px;}

.chance_detail>div{width:1000px; height: 500px; margin: 0 auto;}
.chance_detail_1{position: relative; top: 100px;  left: 50px;}
.chance_detail_2{position: relative; top: 200px; right: 50px; }
.chance_detail_2 img{float: right;}
.chance_detail_3{position: relative; top: 300px;  left: 25px;}

.lelion_detail>div{width:1000px; height: 500px; margin: 0 auto;}
.lelion_detail_1{position: relative; top: 100px;  left: 50px;}
.lelion_detail_2{position: relative; top: 200px; right: 50px;}
.lelion_detail_2 img{float: right;}
.lelion_detail_3{position: relative; top: 300px;  left:25px;}

.bled_detail>div{width:1000px; height: 500px; margin: 0 auto;}
.bled_detail_1{position: relative; top: 100px; left:50px;}
.bled_detail_2{position: relative; top: 200px; right: 50px;}
.bled_detail_2 img{float: right;}
.bled_detail_3{position: relative; top: 300px;  left:25px;}

.in_detail>div{width:1000px; height: 500px; margin: 0 auto;}
.in_detail_1{position: relative; top: 100px;  left:50px;}
.in_detail_2{position: relative; top: 200px; right: 50px;}
.in_detail_2 img{float: right;}
.in_detail_3{position: relative; top: 300px;  left:25px;}
.in_deta_text_3{width:500px; height: 500px; float: right; font-size: 12px;}
.in_deta_text_3 h1{font-size: 32px;}


